<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content class="mat-typography">
  <p><strong><span style="font-size: 13.5pt;">User Acknowledgement prior to use of CloudGavel </span></strong></p>
  <ol>
    <li style="tab-stops: list .5in;">By using CloudGavel, you acknowledge that you are accessing Criminal Justice
      Information
      and agree to abide by all of the local, state and federal requirements regarding the handling of Criminal Justice
      Information.</li>
    <li style="tab-stops: list .5in;">By using CloudGavel, you acknowledge that you understand the system is being
      monitored,
      all activity is being recorded (logged) and is subject to periodic audits.</li>
    <li style="tab-stops: list .5in;">By using CloudGavel, you acknowledge that unauthorized use is prohibited and may
      be subject
      to criminal and/or civil penalties.</li>
    <li style="tab-stops: list .5in;">Your use of CloudGavel indicates your consent to monitoring and recording.</li>
  </ol>
  <p><strong><span style="font-size: 13.5pt;">User Agreement</span></strong></p>
  <ol>
    <li style="tab-stops: list .5in;">It is the responsibility of the Client Agency to insure access to CloudGavel is
      for authorized
      purposes only, and to regulate the proper use of the network and information at all times. The Client must
      establish
      appropriate written standards, which may be incorporated with existing codes of conduct, for disciplining
      violators of
      this and any incorporated policy.</li>
    <li style="tab-stops: list .5in;">If the User provides an interface between CloudGavel and other criminal justice
      agencies
      it must abide by all of the provisions of this agreement. Agencies that access CloudGavel systems by interfacing
      through
      other agencies must, likewise, abide by all provisions of this agreement. An inter-agency User Agreement is
      required
      when access to CloudGavel is provided by the User to another agency.</li>
    <ol>
      <li style="tab-stops: list 1.0in;">MESSAGES: Only law enforcement and other criminal justice messages shall be
        sent over
        and through the CloudGavel. All messages will be treated as privileged unless otherwise indicated. User should
        make
        prudent use of regional and statewide broadcast message requests. All messages must use plain English text in
        the message.</li>
      <li style="tab-stops: list 1.0in;">COMPLIANCE: Access to the CloudGavel application in strict compliance with
        applicable
        CJIS policies including, but not limited to, policies, practices and procedures relating to:</li>
      <li style="tab-stops: list 1.0in;">TIMELINESS: CloudGavel records must be entered, modified, located, cleared; and
        canceled
        promptly in order to ensure system accuracy and effectiveness. Users that perform CloudGavel updates for other
        agencies
        must comply with timeliness requirements for the records entered for the serviced agencies as well.</li>
      <li style="tab-stops: list 1.0in;">QUALITY ASSURANCE: Appropriate and reasonable quality assurance procedures must
        be
        in place, including second party verification during entry, to ensure all entries in CloudGavel are complete,
        accurate,
        and valid.</li>
      <li style="tab-stops: list 1.0in;">DISSEMINATION: Information obtained from the CloudGavel or computer interfaces
        to
        any state or federal systems can only be used for official criminal justice purposes.<br />The user will
        disseminate
        CJI derived from or generated by the use of CloudGavel only to criminal justice agencies or appropriate judicial
        agencies
        and only for criminal justice purposes.</li>
      <li style="tab-stops: list 1.0in;">RETENTION: CJI, regardless of how the CJI is obtained or generated, must be
        kept in
        a secure records environment to prevent unauthorized access.</li>
      <li style="tab-stops: list 1.0in;">CJI TRANSMISSION: A facsimile machine or other electronic means (i.e. - email)
        may
        be used to transmit criminal history information between criminal justice agencies, provided both agencies are
        authorized
        to receive criminal justice information. Appropriate measures must be taken to prevent unauthorized viewing or
        receipt
        by unauthorized persons.</li>
      <li style="tab-stops: list 1.0in;">LOGGING: Each authorized user of the CloudGavel system will have an automated
        log
        kept by CloudGavel for an indefinite period of time.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">An automated logging feature is included in the application software provided
          by
          CloudGavel and CloudGavel will retain these logs for future reference by the client agencies or for CJIS
          compliance
          audits.</li>
        <li style="tab-stops: list 1.5in;">The automated transaction log shall identify: the operator on all
          transactions,
          the agency authorizing all transactions, any secondary recipient for all CJI transactions. This information
          shall
          be captured at log-on and shall be attached to all actions taken within the CloudGavel system.</li>
        <li style="tab-stops: list 1.5in;">The User may only disseminate information to another authorized recipient and
          a
          record shall be maintained of any dissemination of CJI. This record will reflect at a minimum: (1) date of
          release;
          (2) to whom the information relates; (3) to whom the information was released.</li>
      </ol>
      <li style="tab-stops: list 1.0in;">INFORMATION ACCESS: The User will allow only properly screened, authorized
        personnel
        performing a criminal justice function who have received proper security training to have access to information
        contained
        within the CloudGavel system.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">The User will ensure that all personnel who initiate a transaction are
          current in
          CJIS certification. The User will ensure that persons allowed to complete CJIS certification are at least 18
          years
          of age and are U.S. citizens or have a valid immigration status/visa.</li>
        <li style="tab-stops: list 1.5in;">CloudGavel reserves the right to deny CloudGavel systems access to any
          individual
          based on valid, articulable concerns for the security and integrity of CloudGavel systems.</li>
      </ol>
      <li style="tab-stops: list 1.0in;">WORKSTATION: CloudGavel is not responsible for the workstation acquisition,
        maintenance,
        operation, repair, supplies or workstation operation personnel costs. CloudGavel, at its own discretion, may
        assist
        with executing trouble-shooting procedures to ensure proper operation of the CloudGavel system.</li>
      <li style="tab-stops: list 1.0in;">AUDITS: All agencies having access to the CloudGavel system shall permit an
        inspection
        team to conduct inquiries with regard to any allegations or potential security violations, as well as for
        routine audits.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">CloudGavel conducts regularly scheduled compliance and technical security
          audits
          of every agency accessing the system to ensure network security, conformity with state law, and compliance
          with all
          applicable CJIS rules, regulations and operating procedures.</li>
        <li style="tab-stops: list 1.5in;">Compliance and technical security audits may be conducted at other than
          regularly
          scheduled times.</li>
        <li style="tab-stops: list 1.5in;">Security audits of user data and user logs may be conducted at other than
          regularly
          scheduled times.</li>
      </ol>
      <li style="tab-stops: list 1.0in;">TRAINING: The User is responsible for complying with training requirements
        established
        in CJIS Security Policy and the rules, regulations, and policies. The User is responsible for remaining current
        in
        the applications, procedures, and policies and ensuring personnel attend these training sessions.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">CloudGavel operators who are in their initial six months of assignment may be
          permitted
          supervised access to CloudGavel. Operators must successfully complete CJIS certification within six months of
          appointment
          or assignment to duties requiring direct access to CloudGavel.</li>
        <li style="tab-stops: list 1.5in;">The User will require all personnel who initiate a transaction in the
          CloudGavel
          system to successfully complete CJIS Certification. The User agrees to remove from CloudGavel access any
          employee
          who fails to achieve required certification standards, whose certification has expired, whose certificate is
          otherwise
          rescinded or as directed by in accordance with CJIS policy.</li>
        <li style="tab-stops: list 1.5in;">The User will maintain certification records of all CJIS certified personnel
          in
          a current status.</li>
      </ol>
      <li style="tab-stops: list 1.0in;">LIABILITY: The User understands that CloudGavel, its officers, and employees
        shall
        not be liable in any claim, demand, action, suit, or proceeding, including, but not limited to, any suit in law
        or
        in equity, for damages by reason of, or arising out of, any false arrest or imprisonment or for any loss, cost,
        expense
        or damages resulting from or arising out of the acts, omissions, or detrimental reliance of the personnel of the
        User
        in entering, removing, or relying upon information transmitted through the CloudGavel system.</li>
    </ol>
    <li style="tab-stops: list .5in;">Security Requirements</li>
    <ol>
      <li style="tab-stops: list 1.0in;">PERSONNEL BACKGROUND SCREENING and POLICY FOR DISCIPLINE: The User is required
        to
        conduct a background investigation on all personnel who are authorized to access CloudGavel and CJI data or
        systems,
        IT personnel who maintain/support information technology components used to process, and other personnel
        accessing
        workstation areas that are unescorted by authorized personnel.<br />Good management practices dictate the
        investigation
        should be completed prior to employment, but it must, at a minimum, be conducted within the first thirty (30)
        days
        of employment or assignment. The User may conduct a preliminary on-line criminal justice employment check.</li>
      <li style="tab-stops: list 1.0in;">The User must submit applicant fingerprints for positive comparison against the
        state
        and national criminal history. If a record of any kind is found, the User will not permit the operator to have
        access
        to the CloudGavel system. The User will formally notify the CJIS Systems Officer (CSO) indicating access will be
        delayed
        pending review of the criminal history.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">When identification of the applicant has been established by fingerprint
          comparison
          and the applicant appears to be a fugitive, have pending criminal charges; have an arrest history for a felony
          or
          serious misdemeanor; have been found guilty of, regardless of adjudication, or entered a plea of <em>nolo
            contendere
          </em>or guilty to any felony or serious misdemeanor; or to tie under the supervision of the court, the User
          will
          refer the matter to the CSO for review.</li>
        <li style="tab-stops: list 1.5in;">Applicants who have been found guilty of, regardless of adjudication, or
          entered
          a plea of <em>nolo contendere</em> or guilty to a felony, will generally be denied access to CloudGavel. For
          applicants
          who have been adjudicated guilty of or have had adjudication withheld on a misdemeanor, the User will notify
          the
          CSO of the misdemeanor(s) and acknowledge an intent to permit CloudGavel access. Access will also generally be
          denied
          to any person under court supervision for a criminal offense or against whom criminal charges are pending. If
          a determination
          is made by the CSO that CloudGavel access by the applicant would not be in the public interest, such access
          will
          be denied and the User will be notified in writing of the access denial.</li>
        <li style="tab-stops: list 1.5in;">Once the original background screening has been completed, if the User learns
          that
          a CJIS certified employee has a criminal history or pending charge(s), the User will first determine if the
          pending
          charge(s) or record(s) adversely affect(s) the employee's continued employment/access/status with the User. If
          the
          employee is placed on leave, terminated or denied access to CloudGavel by the User, as a result of any pending
          or
          unresolved charge(s), the User will notify the CSO of the action taken. Generally, denial of access, pending
          satisfactory
          resolution of any such charge(s), and notification to the CSO of that action, will be deemed sufficient
          corrective
          action by the User.</li>
        <li style="tab-stops: list 1.5in;">If the User determines that no action is required while the charge(s) are
          pending
          or unresolved; i.e., that the employee will continue to be allowed access to CloudGavel, the User will notify
          the
          CSO and explain its rationale for continued access. CloudGavel reserves the right, as CSA, to deny access to
          CloudGavel
          and associated databases until any such charge(s) are resolved or the situation is clarified.</li>
        <li style="tab-stops: list 1.5in;">The User will have a written policy for discipline of personnel who access
          CloudGavel
          for purposes that are not authorized, disclose information to unauthorized individuals, or violate CJIS rules,
          regulations
          or operating procedures</li>
      </ol>
      <li style="tab-stops: list 1.0in;">PHYSICAL SECURITY: The User will determine the perimeter for the physical
        security
        of devices that access or provide access to CloudGavel.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">Access shall be limited as to allow completion of required duties.</li>
        <li style="tab-stops: list 1.5in;">The User must have a written policy that ensures and implements security
          measures,
          secures devices that access CloudGavel and prevents unauthorized use or viewing of information on these
          devices.</li>
        <li style="tab-stops: list 1.5in;">The use of screen blanking-software with password protection is recommended
          for
          devices that access CloudGavel when the operator may leave the computer unsupervised. CloudGavel reserves the
          right
          to object to equipment location, security measures and qualifications of personnel who will be accessing
          CloudGavel
          and to suspend or withhold service until such matters are corrected to its reasonable satisfaction.</li>
      </ol>
      <li style="tab-stops: list 1.0in;">ADMINISTRATIVE SECURITY: The User must designate at least one individual agency
        contact
        to assist the User and CloudGavel with the information services covered by this agreement. Training for these
        positions
        is provided by CloudGavel, and the User must ensure that its designee is keenly aware of the duties and
        responsibilities
        of each respective position. The User is required to provide CloudGavel with up-to-date contact information for
        the
        System Administrator.</li>
      <li style="tab-stops: list 1.0in;">TECHNICAL SECURITY:</li>
      <ol>
        <li style="tab-stops: list 1.5in;">Dial-up services to CloudGavel will be permitted provided the User
          establishes appropriate
          security measures to ensure compliance with all rules, regulations, procedures, and the FBI CJIS Security
          Policy.</li>
        <li style="tab-stops: list 1.5in;">All CloudGavel data transmitted over any public network segment must be
          encrypted
          as required by tire FBI CJIS Security Policy. This requirement also applies to any private data circuit that
          is shared
          with non-criminal justice users and/or is not under the direct security control of a criminal justice agency.
        </li>
        <li style="tab-stops: list 1.5in;">The User must ensure all devices with connectivity to CloudGavel employ virus
          protection
          software and such software shall be maintained in accordance with the software vendor's published updates.
        </li>
        <li style="tab-stops: list 1.5in;">To ensure appropriate security precautions are in place, and upon approval
          from
          CloudGavel, the User may employ wireless network connectivity (for example the 802.11 wireless networking
          protocol).</li>
      </ol>
      <li style="tab-stops: list 1.0in;">COMPUTER SECURITY INCIDENT RESPONSE CAPABILITY: The User must have a written
        policy
        documenting the actions to be taken in response to a possible computer security incident. The policy should
        include
        identifying, reporting, investigating and recovery from computer security incidents. The User will immediately
        notify
        CloudGavel of any suspected compromise of the CloudGavel system.</li>
      <ol>
        <li style="tab-stops: list 1.5in;">SECURITY AUTHORITY: All policies, procedures and operating instructions.
          contained
          in the FBI CJIS' Security Policy and FCIC/NCIC, Ill and NLETS - documents, operating manuals and technical
          memoranda,
          are hereby incorporated into and made a part of this agreement, except to the extent that they are
          inconsistent herewith
          or legally superseded by higher authority.</li>
        <li style="tab-stops: list 1.5in;">CLIENT SOFTWARE LICENSE: The Client Software license for CloudGavel is
          contained
          in the Standard Service Agreement executed between CloudGavel and its client agencies. The Standard Service
          Agreement
          contains all of the limitations, liabilities and responsibilities of both parties (the Client Agency and
          CloudGavel)
          regarding the use of the CloudGavel software.</li>
        <li style="tab-stops: list 1.5in;">PASSWORDS: The User will ensure that all personnel who initiate a transaction
          in
          the CloudGavel have a separate and distinct password for the software used to initiate the transaction.</li>
        <li style="tab-stops: list 1.5in;">INDIVIDUAL USER ACCESS: The User will deactivate individual user access to
          CloudGavel
          upon separation, reassignment or termination of duties, provided individual user access is no longer required
          for
          the administration of criminal justice.</li>
      </ol>
    </ol>
    <li style="tab-stops: list .5in;">Miscellaneous Requirements</li>
    <ol>
      <li style="tab-stops: list 1.0in;">PROVISIONS INCORPORATED: The User shall be bound by applicable federal and
        state laws,
        federal regulations and the rules of CJIS policy to the same extent that the User would be if such provisions
        were
        fully set out herein. Moreover, this Agreement incorporates both present and future law, regulations and rules.
      </li>
      <li style="tab-stops: list 1.0in;">TERMINATION: Either party may terminate this Agreement, with or without cause,
        upon
        providing advanced written notice of 30 days. Termination for cause includes, but is not limited to, any change
        in
        the law that affects either party's ability to substantially perform as originally provided in this Agreement.
        Should
        the aforementioned circumstances arise, either party may terminate or modify the Agreement accordingly.
        CloudGavel
        reserves the right to terminate service, without notice, upon presentation of reasonable and credible evidence
        that
        the User is violating this Agreement or any pertinent federal or state law, regulation or rule.</li>
      <li style="tab-stops: list 1.0in;">MODIFICATIONS: Modifications to the provisions in this Agreement shall be valid
        only
        through execution of a formal Agreement amendment.</li>
      <li style="tab-stops: list 1.0in;">ACCOUNTABILITY: To the extent provided by the laws of the governing states, the
        User
        agrees to be responsible for the negligent acts or omissions of its personnel arising out of or involving any
        information
        contained in, received from, entered into or through CloudGavel.</li>
      <li style="tab-stops: list 1.0in;">ACKNOWLEDGEMENT: The User hereby acknowledges the duties and responsibilities
        as set
        out in this Agreement. The User acknowledges that these duties and responsibilities have been developed and
        approved
        by CloudGavel to ensure the reliability, confidentiality, completeness, and accuracy of all records contained in
        or
        obtained by means of the CloudGavel System. The User further acknowledges that failure to comply with these
        duties
        and responsibilities will subject its access to various sanctions as approved by the FBI Criminal Justice
        Information
        Services Advisory Policy Board. These sanctions may include termination of CloudGavel services to the User. The
        User
        may appeal these sanctions through the CSA.</li>
      <li style="tab-stops: list 1.0in;">TERM OF AGREEMENT: This agreement will remain in force until it is determined
        by CloudGavel
        that a new agreement is required. The User should initiate the execution of a new agreement when a change of
        agency
        chief executive occurs.</li>
    </ol>
  </ol>
  <p>&nbsp;</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>