table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
}

th {
  font-weight: bold;
}

.single-line-text{
  white-space: nowrap !important;
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
  padding: 0px !important;
  min-height: 36px !important;
  max-height: 36px !important;

  .mdc-notched-outline {
    height: 50px !important;
  }
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 60% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-subject {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-topic {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-type {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

::ng-deep quill-editor .ql-container.ql-snow {
  flex: 1;
  height: 200px !important;  /* Adjust height here */
  max-height: 500px;
}
