<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" style="font-size: small;"
        fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <p class="no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; {{date | date: 'yyyy'}}</span> <span class="font-montserrat">
                Vidyaops</span>.
            <span class="hint-text">All
                rights reserved.
            </span> <span class="sm-block"><a class="m-l-10 m-r-10" href="javascript:void(0)">Terms of use | </a>
                <a class="m-l-10" href="javascript:void(0)">Privacy Policy</a></span>
        </p>

        <p class="small no-margin pull-right sm-pull-reset">
            A <span class="hint-text">Vidyaops Application.</span>
        </p>
    </div>

</mat-toolbar>